version: '3.9'

services:
  fastapi:
    build: ./fastapi
    container_name: fastapi
    ports:
      - '8001:8000'
    environment:
      - OLLAMA_API=http://host.docker.internal:11434
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - default
      - sp-backend_appnet

networks:
  sp-backend_appnet:
    external: true
